<main>

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FitAF</title>
</head>


<div class="dashboard">
  <div class="weekly-info">
    <button class="prev-day">Previous Day</button>
    <div class="exercise-info">
    <h2>This Week's Exercises</h2>
    {{#each exercises}}
    <p><b>{{name}}</b></p>
    <p>{{instructions}}</p>
    {{/each}}
</div>
    <button class="change-exercise-plan">Change Exercise Plan</button>
  </div>
  <div class="diet-info">
    <div class="diet-info">
    <h2>This week's Meals</h2>
    {{#each nutrition}}
      {{#each meals}}
        <p class="diet-title">{{this.title}}</p>
        <a href={{this.sourceUrl}}> Click here to see the meal! </a>
      {{/each}}
    {{/each}}
</div>
  <button class="change-diet-plan">Change Diet Plan</button>
</div>

</main>