<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>FitAF</title>
  <link rel="stylesheet" href="../public/css/hbs.css">
</head>
<h1>An Error Occurred</h1>
<p>Sorry, there was a problem processing your request.</p>

{{#if error}}
  <div class="error-message">
    <p>Error details: {{error}}</p>
  </div>
{{else}}
  <p>No error details available.</p>
{{/if}}

<a href="/">Go back to the homepage</a>